.container {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 4;
    gap: 20px;
    justify-self: center;
}